<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>以下のお問い合わせ内容が来ました。</p>
    <p>こちらが内容です。</p>
    <br/>
    <hr/>
    <br/>
    <p><%= @text %></p>
    <br/>
    <hr/>
    <br/>
    <p>氏名：<%= @name %></p>
    <p>メールアドレス：<%= @email %></p>
  </body>
</html>
