<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>※本メールは送信専用です※</p>
    <p>以下のお問い合わせ内容が来ました。</p>
    <br/>
    <hr/>
    <br/>
    <p>こちらが内容です。</p>
    <br/>
    <hr/>
  </body>
</html>
